
h1 {
   text-align: center;
   color: rgb(21, 49, 16);
   margin-bottom: 32px;
}

h2 {
   margin-top: 32px;
   color: rgb(21, 49, 16);
}

.form-title {
   font-size: 50px;
   margin-bottom: 40px;
   color: rgb(21, 49, 16);
}

.form-group {
   display: flex;
   flex-direction: column;
   margin-bottom: 5px;
}

label {
   font-weight: bold;
   margin-bottom: 1px;
   font-size: 15px;
}

input,
textarea {
   padding: 0.5rem;
   border: 1px solid #ccc;
   border-radius: 5px;
   font-size: 15px;
}

button {
   background-color: rgb(2, 51, 2);
   color: white;
   border: none;
   padding: 12px 24px;
   font-size: 15px;
   border-radius: 5px;
}

.button-group {
	display: flex;
	gap: 50px;
	justify-content: center;
   margin-bottom: 50px;   
}

.button-group button {
   background-color: rgb(19, 58, 68);
	width: 200px; 
}


footer {
   padding: 32px;
   background-color: #f5f5f5;
   text-align: center;
   font-size: 15px;
   color: #444;
}

section {
   max-width: 700px;
   margin: 0 auto;
   padding: 32px;
   line-height: 1.8;
   color: #333;
}

.view-details-text {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 15px;
  color: #283b32; 
}

.hover-card:hover .view-details-text {
  opacity: 1;
}

.hover-card:hover .card-title {
  color: #6b8842; 
}


